<launch>
    <!-- launch rosbag -->
    <param name="use_sim_time" value="true" />
    <arg name="bag_file" default="$(find uvbot_pathplan)/bags/hospital_0211.bag" />

    <node pkg="rosbag" type="play" name="rosbag_play" output="screen"
        args="$(arg bag_file) --clock --loop" />

    <!-- launch scan transform python script
    <node pkg="uvbot_pathplan" type="scan_transform.py" name="scan_transform" output="screen" /> -->

    <!-- launch RViz -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find uvbot_pathplan)/rviz/scan_trans.rviz" /> -->

</launch>
