<launch>
    <!-- launch rosbag -->
    <param name="use_sim_time" value="true" />
    <arg name="bag_file" default="$(find uvbot_pathplan)/bags/hospital_0212.bag" />

    <node pkg="rosbag" type="play" name="rosbag_play" output="screen"
        args="$(arg bag_file) --clock --loop -r 0.5" />

    <!-- static transform from tm_tool0_controller to disinfect_cam -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_disinfect_cam" 
          args="0 0 0.18 3.14159 0 0 tm_tool0_controller disinfect_cam" />

    <!-- launch scan transform python script -->
    <node pkg="uvbot_pathplan" type="scan_transform.py" name="scan_transform" output="screen" />

    <!-- launch laser line extraction -->
    <node name="line_extractor" pkg="laser_line_extraction" type="line_extraction_node">
      <param name="~frequency" value="30.0" />
      <!-- <param name="~frame_id" value="merged_laser_frame" /> -->
      <param name="~frame_id" value="laser" />
      <param name="~scan_topic" value="/scan" />
      <param name="~publish_markers" value="true" />
      <param name="~bearing_std_dev" value="1e-5" />
      <param name="~range_std_dev" value="0.012" />
      <param name="~least_sq_angle_thresh" value="0.0001" />
      <param name="~least_sq_radius_thresh" value="0.0001" />
      <param name="~max_line_gap" value="0.5" />
      <param name="~min_line_length" value="0.7" />
      <param name="~min_range" value="0.5" />
      <param name="~max_range" value="250.0" />
      <param name="~min_split_dist" value="0.04" />
      <param name="~outlier_dist" value="0.06" />
      <param name="~min_line_points" value="10" />
    </node>

    <!-- launch real time projection script -->
    <node pkg="uvbot_pathplan" type="projection_with_localization.py" name="projection_with_localization" output="screen" />

    <!-- launch ubbot path planning -->\
    <node pkg="uvbot_pathplan" type="path_planning.py" name="path_planning" output="screen" />

    <!-- launch RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find uvbot_pathplan)/rviz/scan_line.rviz" />

</launch>
